@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


body{
  width: 100%;
  height: 100vh;
  background-color: #fff;

  font-family: 'Nunito', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
} 

#circle-1 {
  background: red;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 76%;
  left: 77%;
}

#circle-2 {
  background: #09a8c4;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  position: absolute;
  bottom: 76%;
  right: 77%;
}





.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1{
  position: absolute;
  top: 100px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  color: #0a146e;
  font-size: 2.4rem;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.4;
}


.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; 
  width: 100%;
}

.header {
  color: #fff;
}

p {
  text-align: center;
}

.bi-shuffle {
  cursor: pointer;
  border: none;   
  border-radius: 4px;
  font-size: 28px;
  padding: 9px 18px;
  color: #0a146e;
}

.money-img {
  width: 150px;
}

.currency {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currency select {
  padding: 10px 20px 10px 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #dedede;
  font-size: 16px;
  background: transparent;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-position: right 10px top 50%, 0, 0;
  background-size: 12px auto, 100%;
  background-repeat: no-repeat;
}

.currency input {
  border: 0;
  background: transparent;
  font-size: 30px;
  text-align: right;
}

.swap-rate-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rate {
  color: #0a146e;
  font-size: 18px;
  padding: 0 10px;
  font-weight: 800;
}

select:focus,
input:focus,
button:focus {
  outline: 0;
}

@media only screen and (min-width: 320px) and (max-width: 800px){
  body {
    overflow: hidden;
  }

  #circle-1, #circle-2 {
    display: none;
  }
  

  .currency input {
    width: 114px;
    font-size: 18px;
  }

  .main-container {
    width: 100%;
    padding: 1rem;
  }

  .header{
    font-size: 15px;
  }

  .currency {
    display: flex;
    flex-direction: row;
    padding: 19px 0;
    align-items: center;
}

.currency select {
  width: 75%;
}

h1{
  position: absolute;
  top: 20%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  color: #0a146e;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.4;
}
} 














